<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=movieDetail.title%></h1>
    <ul>
      <li> Rating : <%= movieDetail.rating %></li>
      <li> Premios : <%= movieDetail.awards %></li>
      <li> Duración : <%= movieDetail.length %></li>
      <li> Fecha de estreno : <%= movieDetail.release_date %></li>
    </ul>
    <form action="/movies/update/<%= movieDetail.id %> " method="GET">
      <button type="submit" class="action-button">Corregir</button>
      </form>
      
      <form action="/movies/delete/<%= movieDetail.id %>?_method=DELETE " method="POST">
        <button type="submit" class="action-button delete">Borrar</button>
        </form>
</body>
</html>